@import "tailwindcss";
@import "@flowpanel/react/styles/admin.css";
@source "../../../../packages/react/src";
@source "../../../../packages/next/src";

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: var(--fp-font-sans);
  background: hsl(var(--fp-bg-2));
  color: hsl(var(--fp-text-1));
}
